<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@2.6.2/dist/vue.min.js" integrity="sha384-FJXuDBvBSlJDfFRoQKUpCcPnXI9gIahgxlgE1AirUdI8udiPWSrlFs7fWqHRInPR" crossorigin="anonymous"></script>

  <script id="content" type="application/ld+json">
    {
      "@context": {
        "@vocab": "http://schema.org/",
        "doap": "http://usefulinc.com/ns/doap#",
        "implements": { "@id": "doap:implements", "@type": "@id" },
        "DataFactory": { "@id": "http://rdf.js.org/data-model-spec/#datafactory-interface", "@type": "@id" },
        "Source": { "@id": "http://rdf.js.org/stream-spec/#source-interface", "@type": "@id" },
        "Sink": { "@id": "http://rdf.js.org/stream-spec/#sink-interface", "@type": "@id" },
        "Store": { "@id": "http://rdf.js.org/stream-spec/#store-interface", "@type": "@id" },
        "Dataset": { "@id": "http://rdf.js.org/dataset-spec/#dataset-interface", "@type": "@id" }
      },
      "@type": "WebPage",
      "breadcrumb": [{
        "@id": "#specifications",
        "breadcrumb": [{
          "@id": "/data-model-spec/",
          "name": "Data Model",
          "description": "Basic RDF Data Model (Terms & Quads)"
        }, {
          "@id": "/dataset-spec/",
          "name": "Dataset",
          "description": "Dataset extending the basic Data Model"
        }, {
          "@id": "/stream-spec/",
          "name": "Streams",
          "description": "Quad stream processing"
        }]
      }, {
        "@id": "#documentations",
        "breadcrumb": []
      }, {
        "@id": "#libraries",
        "breadcrumb": [{
          "@id": "/data-model/",
          "name": "@rdfjs/data-model",
          "description": "Basic implementation of RDFJS Data Model.",
          "implements": [ "DataFactory" ]
        }, {
          "@id": "/dataset/",
          "name": "@rdfjs/dataset",
          "description": "Basic implementation of RDFJS Dataset.",
          "implements": [ "Dataset" ]
        }, {
          "@id": "/N3.js/",
          "name": "n3",
          "description": "Lightning fast, spec-compatible, streaming RDF for JavaScript.",
          "implements": [ "DataFactory", "Store", "Sink" ]
        }, {
          "@id": "https://github.com/beautifulinteractions/node-quadstore",
          "name": "node-quadstore",
          "description": "A LevelDB-backed graph database for Node.js and the browser supporting SPARQL queries and the RDF/JS interface.",
          "implements": [ "Store" ]
        }
        ]
      }]
    }
  </script>

  <style>
    h1, h2 {
      text-align: center;
    }
    section {
      margin-bottom: 2em;
    }
    .card {
      margin-bottom: 1em;
    }
    .interface {
      font-size: 0.8em;
    }
  </style>

  <title>RDF JavaScript Libraries</title>
</head>
<body>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="https://avatars1.githubusercontent.com/u/6156399?s=100" width="30" height="30" class="d-inline-block align-top" alt="">
          RDFJS
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="specificationsDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Specifications</a>
              <div class="dropdown-menu" aria-labelledby="specificationsDropdown">
                <a class="dropdown-item" v-for="specification in specifications" :href="specification['@id']">{{ specification.name }}</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="jumbotron">
      <h1>RDF JavaScript Libraries</h1>
    </div>

    <div class="container">
      <section v-if="specifications.length">
        <h2>Specifications</h2>

        <div class="row">
          <div class="col-md-4" v-for="specification in specifications">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a :href="specification['@id']">{{ specification.name }}</a></h5>
                <p class="card-text">{{ specification.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section v-if="documentations.length">
        <h2>Documentation</h2>

        <div class="row">
          <div class="col-md-4" v-for="documentation in documentations">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a :href="documentation['@id']">{{ documentation.name }}</a></h5>
                <p class="card-text">{{ documentation.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section v-if="libraries.length">
        <h2>Libraries</h2>

        <div class="row">
          <div class="col-md-4" v-for="library in libraries">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a :href="library['@id']">{{ library.name }}</a></h5>
                <p class="card-text">{{ library.description }}</p>
                <span class="interface" v-for="interface in library['implements']">
                  {{ interface }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <script>
    const content = JSON.parse(document.getElementById('content').innerText)

    const { specifications, documentations, libraries } = content.breadcrumb.reduce((list, item) => {
      list[item['@id'].substr(1)] = item.breadcrumb

      return list
    }, {})

    new Vue({
      el: '#app',
      data: {
        specifications,
        documentations,
        libraries
      }
    })
  </script>
</body>
</html>